
    <div class="container py-3">
            <form  #monForm = ngForm  (ngSubmit)= "OnSubmit( username, plainPassword, nom, prenom, partenaire, profile, Image)">

                <div class="form-group">
                    <input type="text" ngModel  #username=ngModel  name="username" minlength="5" placeholder="Username" class="form-control" required>
                    <div [hidden]="username.valid">
                        le username est obligatoire
                   </div>
                </div>

                <div class="form-group">
                    <input type="password" ngModel  #plainPassword=ngModel  name="plainPassword" placeholder="Password" class="form-control" required>
                    <div [hidden]="plainPassword.valid">
                        Le mot de passe est obligatoire
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="text" ngModel  #nom=ngModel name="nom" placeholder="Nom" class="form-control" required>
                    <div [hidden]="nom.valid">
                        Le nom est obligatoire
                    </div>
                </div>
               

                <div class="form-group">
                    <input type="text" ngModel  #prenom=ngModel  name="prenom" placeholder="Prenom" class="form-control" required>
                    <div [hidden]="prenom.valid">
                        Le prenom est obligatoire
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="text" ngModel  #partenaire=ngModel name="partenaire" placeholder="Partenaire" class="form-control" required>
                </div>
                <div [hidden]="partenaire.valid">
                    Le champ partenaire est obligatoire
                </div>

                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02" ngModel  #profile=ngModel name="profile" required>
                        <option value="user">user</option>
                        <option value="caissier">caissier</option>
                        <option value="admin">admin</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">Profile</label>
                    </div>
                    <div [hidden]="profile.valid">
                        Le champ profile est obligatoire
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="custom-file mb-3">
                        <img [src] = "imageUrl" alt="" style="width:250px;height:100px" class="col-md-12">
                        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
                    </div>
                </div>
                
                <div
                    class="form-group">
                    <button type="submit" [disabled]=!monForm.valid class="btn btn-primary float-right">Valider</button>
                </div>

            </form>
    </div>
    <br> <br>
    <!--p id="mydesc">Liste des utilisateurs</p>
    <table class="table table-bordered" aria-describedby="mydesc">
    <thead  class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Roles</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">Profile</th>
        <th scope="col">imageName</th>
        <th scope="col">Date imageName</th>
    </thead>
    <tbody>
        <tr *ngFor = "let users of user">
            <td>{{users.username}}</td>
            <td>{{users.roles}}</td>
            <td>{{users.nom}}</td>
            <td>{{users.prenom}}</td>
            <td>{{users.profile}}</td>
            <td>{{users.imageName}}</td>
            <td>{{users.updatedAt}}</td>
        </tr>
    </tbody>
</table-->

<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
      
      <div class="mat-elevation-z10">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username </th>
            <td mat-cell *matCellDef="let row"> {{row.username}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ninea </th>
            <td mat-cell *matCellDef="let row"> {{row.roles}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.nom}} </td>
          </ng-container>
      
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.prenom}} </td>
          </ng-container>

          <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.profile}} </td>
          </ng-container>

          <ng-container matColumnDef="imageName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.imageName}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>



