<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Créer un compte</h3>
                </div>
                <div class="card-body">
                    <form   #monForm=ngForm (ngSubmit)= "OnSubmit(partenaire)" >
                        <div class="form-group">
                            <input type="number" ngModel  #partenaire=ngModel name="partenaire" placeholder="Partenaire" class="form-control rounded-0" required >
                            <div [hidden]="partenaire.valid">
                                le champ partenaire est obligatoire
                            </div>
                        </div>

                        <button  type="submit"  [disabled]=!monForm.valid class="btn btn-primary float-right">Créer</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<p id="mydesc">Liste des comptes</p>
<table class="table table-bordered" aria-describedby="mydesc">
    <thead class="thead-dark">
        <th scope="col">Partenaire</th>
        <th scope="col">Numero compte</th>
        <th scope="col"> Solde</th>
    </thead>
    <tbody>
        <tr  *ngFor = "let c of compte">
            <td>{{c.numerocompte}}</td>
            <td>{{c.solde}}</td>
            <td>{{c.solde}}</td>
        </tr>
    </tbody>
</table>